body {
    /* background-image: url("../images/background1.jpeg"); */
}

/* Classes for easyautocomplete */
.eac-square input {
    background: url("../images/icon_search.png") no-repeat right 10px center;
}

.fix-autocomplete {
    padding : 0 !important;
    border-width : 0;
}

.input-grp-autocomplete
{
    padding-bottom: 2px !important;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.beerIMG {
    width: 90px;
    position: relative;
    overflow: auto;
}