html {
    position: relative;
    min-height: 100%;
}

#logo {
    width: 350px;
}

body {
    margin-bottom: 55px; /* Margin bottom by footer height */

    /* potential background? */
     /* background-image: url("../images/background1.jpeg"); */ 
    /* background-position: center; */
    /* background-size:cover; */
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: -100;
    min-width: 100%; 
    min-height: 100%;
    z-index: -100;
}

/* Classes for easyautocomplete */
.eac-square input {
    background: url("../images/icon_search.png") no-repeat right 10px center;
}

.fix-autocomplete {
    padding : 0 !important;
    border-width : 0;
}

.input-grp-autocomplete
{
    padding-bottom: 2px !important;
}

.graph-icon:hover {
    opacity: .5;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    line-height: 50px; /* Vertically center the text there */
    text-align: center;
    border-top: 5px solid #257EF6;
}

.beerIMG {
    width: 90px;
    position: relative;
    overflow: auto;
}

.header-div {
    display: none;
}

.header-div ~ div:nth-child(-n+7) {
    display: none;
}

.results-area{
    display: none;
}

.daily, .weekly {
    font-weight: 700;
}

.result {
    font-weight: 400;
}
.ccc-chart{
    width: 320px;
}
.daily_div{
    margin-top: 5px;
    display: none;
}
.weekly_div{
    margin-top: 5px;
    display: none;
}

.currentPrice:first-child, .daily_div, .weekly_div { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: white;
  color: rgb(0, 0, 0);
  padding: 2rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: none;
}

#portfolio-table {
    background: white;
}